.heading {
  text-align: center;
  margin: 0.1em;
}

.nowrap {
  text-wrap: nowrap;
  overflow: hidden;
}

.submit-container {
  display: flex;
  flex-direction: row;
}

.errorMsg {
  color: red;
  margin-left: 0.5em;
  font-style: italic;
  user-select: text;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
  width: 100%;
  text-wrap: nowrap;
  display: inline;
}
